!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %title HereApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    = render 'layouts/navbar'

    .container-fluid

      = yield



    = javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
    = javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'
